In [44]:
"""
The objectof this practice is to make sample database.
witing and reading and editing database easily

"""
import pandas as pd
import numpy as np

[pandas 기초](https://doorbw.tistory.com/172)

# DataFrame, Series 생성

In [45]:
lat_list, long_list = zip(*[(37.444254, -122.165271),(37.444901, -122.164675),(37.443291, -122.162127),
        (37.444492, -122.160942),(37.445314, -122.162208),(37.445314, -122.162208),(37.445045, -122.162454),
        (37.445045, -122.162454), (37.444709, -122.162819), (37.445492, -122.164063),
        (37.446255, -122.165313),(37.445058, -122.166531), (37.444249, -122.165302)])
event_list = ['driving start', 'stopline에서 정차못함', 'disengagement happen','driving restart', '정차된 차량을 못피함', 'driving finish']
event_time = [0,3,5,6,10,12]

In [46]:
lat = pd.core.series.Series(lat_list)
long = pd.core.series.Series(long_list)
stamp = pd.core.series.Series(range(13))

# index 자동으로
df1 = pd.DataFrame(data = {"timestamp": stamp, "latitude": lat, "longitude": long})
df2 = pd.DataFrame(data = {"timestamp": event_time, "message" : event_list})
# df1 = pd.DataFrame(data = dict(timestamp = stamp, latitude = lat, longitude = long)) 위와 동일
# df2 = pd.DataFrame(data = dict(timestamp = event_time, message = event_list)

#index 사용자가 설정
# df1 = pd.DataFrame(data = {"latitude": lat, "longitude": long}, index = stamp)
# df1.index.name = "timestamp"
# df2 = pd.DataFrame(data = {"message" : event_list}, index = event_time)
# df2.index.name = "timestamp"
# df1 = pd.DataFrame(data = dict(latitude = lat, longitude = long), index = stamp) 위와 동일
# df1.index.name = "timestamp"
# df2 = pd.DataFrame(data = dict(message = event_list), index = event_time)
# df2.index.name = "timestamp"

# Merge method

In [47]:
# https://datascienceschool.net/view-notebook/7002e92653434bc88c8c026c3449d27b/
# 만약 테이블에 키 값이 같은 데이터가 여러개 있는 경우에는 있을 수 있는 모든 경우의 수를 따져서 조합을 만들어 낸다.
# 두 데이터프레임에서 이름이 같은 열은 모두 키가 된다. 만약 이름이 같아도 키가 되면 안되는 열이 있다면 on 인수로 기준열을 명시해야 한다.
# 반대로 키가 되는 기준열의 이름이 두 데이터프레임에서 다르다면 left_on, right_on 인수를 사용하여 기준열을 명시해야 한다.
# 일반 데이터 열이 아닌 인덱스를 기준열로 사용하려면 left_index 또는 right_index 인수를 True 로 설정한다.

# index 자동설정된 데이터에 대해
df1 = pd.DataFrame(data = {"timestamp": stamp, "latitude": lat, "longitude": long})
df2 = pd.DataFrame(data = {"timestamp": event_time, "message" : event_list})
pd.merge(df1, df2, how = 'inner') # default = inner join 둘다 값 있는 것만
pd.merge(df1, df2, how = 'outer') # outer join 하나만 값 있어도
pd.merge(df1, df2, how = 'left') # left key 값만
pd.merge(df1, df2, how = 'right') # right key 값만

   timestamp   latitude   longitude               message
0          0  37.444254 -122.165271         driving start
1          3  37.444492 -122.160942       stopline에서 정차못함
2          5  37.445314 -122.162208  disengagement happen
3          6  37.445045 -122.162454       driving restart
4         10  37.446255 -122.165313           정차된 차량을 못피함
5         12  37.444249 -122.165302        driving finish

In [48]:
# index 수동설정된 데이터에 대해서
df1 = pd.DataFrame(data = {"latitude": lat, "longitude": long}, index = stamp)
df1.index.name = "timestamp"
df2 = pd.DataFrame(data = {"message" : event_list}, index = event_time)
df2.index.name = "timestamp"
pd.merge(df1, df2, left_on = "timestamp" ,right_index= True) # default = inner join
pd.merge(df1, df2, right_on = "timestamp" ,left_index= True) 
pd.merge(df1, df2, right_index= True, left_index= True)

            latitude   longitude               message
timestamp
0          37.444254 -122.165271         driving start
3          37.444492 -122.160942       stopline에서 정차못함
5          37.445314 -122.162208  disengagement happen
6          37.445045 -122.162454       driving restart
10         37.446255 -122.165313           정차된 차량을 못피함
12         37.444249 -122.165302        driving finish

# Join method

In [49]:
# index 수동설정된 데이터에 대해서
df1 = pd.DataFrame(data = {"latitude": lat, "longitude": long}, index = stamp)
df1.index.name = "timestamp"
df2 = pd.DataFrame(data = {"message" : event_list}, index = event_time)
df2.index.name = "timestamp"
# merge method와 동일
# df1.join(df2, how = 'outer') # 차이점은 default = outer
# df1.join(df2, how = 'inner') 
# df1.join(df2, how = 'left')
df1.join(df2, how = 'right')

            latitude   longitude               message
timestamp
0          37.444254 -122.165271         driving start
3          37.444492 -122.160942       stopline에서 정차못함
5          37.445314 -122.162208  disengagement happen
6          37.445045 -122.162454       driving restart
10         37.446255 -122.165313           정차된 차량을 못피함
12         37.444249 -122.165302        driving finish

In [50]:
# index 자동설정된 데이터에 대해서는 suffix 인자가 반드시 필요하다.
df1 = pd.DataFrame(data = {"timestamp": stamp, "latitude": lat, "longitude": long})
df2 = pd.DataFrame(data = {"timestamp": event_time, "message" : event_list})
df1.join(df2, lsuffix = "_l", rsuffix = "_r", how = 'outer') # how default = outer

    timestamp_l   latitude   longitude  timestamp_r               message
0             0  37.444254 -122.165271          0.0         driving start
1             1  37.444901 -122.164675          3.0       stopline에서 정차못함
2             2  37.443291 -122.162127          5.0  disengagement happen
3             3  37.444492 -122.160942          6.0       driving restart
4             4  37.445314 -122.162208         10.0           정차된 차량을 못피함
5             5  37.445314 -122.162208         12.0        driving finish
6             6  37.445045 -122.162454          NaN                   NaN
7             7  37.445045 -122.162454          NaN                   NaN
8             8  37.444709 -122.162819          NaN                   NaN
9             9  37.445492 -122.164063          NaN                   NaN
10           10  37.446255 -122.165313          NaN                   NaN
11           11  37.445058 -122.166531          NaN                   NaN
12           12  37.444249 -122.165302          NaN                   NaN

# concat method

In [51]:
pd.concat([df1, df2], sort=True) # 단순히 이어붙힘 axis default = 0

     latitude   longitude               message  timestamp
0   37.444254 -122.165271                   NaN          0
1   37.444901 -122.164675                   NaN          1
2   37.443291 -122.162127                   NaN          2
3   37.444492 -122.160942                   NaN          3
4   37.445314 -122.162208                   NaN          4
5   37.445314 -122.162208                   NaN          5
6   37.445045 -122.162454                   NaN          6
7   37.445045 -122.162454                   NaN          7
8   37.444709 -122.162819                   NaN          8
9   37.445492 -122.164063                   NaN          9
10  37.446255 -122.165313                   NaN         10
11  37.445058 -122.166531                   NaN         11
12  37.444249 -122.165302                   NaN         12
0         NaN         NaN         driving start          0
1         NaN         NaN       stopline에서 정차못함          3
2         NaN         NaN  disengagement happen          5
3         NaN         NaN       driving restart          6
4         NaN         NaN           정차된 차량을 못피함         10
5         NaN         NaN        driving finish         12

In [52]:
pd.concat([df1, df2], axis = 1) # 중복되는 key를 고려하지 않고 연결

    timestamp   latitude   longitude  timestamp               message
0           0  37.444254 -122.165271        0.0         driving start
1           1  37.444901 -122.164675        3.0       stopline에서 정차못함
2           2  37.443291 -122.162127        5.0  disengagement happen
3           3  37.444492 -122.160942        6.0       driving restart
4           4  37.445314 -122.162208       10.0           정차된 차량을 못피함
5           5  37.445314 -122.162208       12.0        driving finish
6           6  37.445045 -122.162454        NaN                   NaN
7           7  37.445045 -122.162454        NaN                   NaN
8           8  37.444709 -122.162819        NaN                   NaN
9           9  37.445492 -122.164063        NaN                   NaN
10         10  37.446255 -122.165313        NaN                   NaN
11         11  37.445058 -122.166531        NaN                   NaN
12         12  37.444249 -122.165302        NaN                   NaN

# sample data 만들기 (List to Dataframe)

|name| timestamp | miles |(latitude,longitude)| automode | temp(cpu, gpu)| message|
|----|-----------|-------|--------------------|----------|-------------------|--------|
|type| double | float | (double, double) | boolean | (float, float) | string|

In [34]:
geo_list = [(37.529033,126.929024),
(37.528625,126.928412),
(37.528004,126.927484),
(37.527519,126.926755),
(37.527017,126.926036),
(37.526923,126.925896),
(37.526727,126.925993),
(37.526502,126.926218),
(37.526238,126.926454),
(37.525825,126.926894),
(37.525311,126.927393),
(37.524468,126.928225),
(37.524341,126.928509),
(37.524974,126.929533),
(37.526097,126.931347),
(37.526752,126.932398),
(37.526493,126.932715),
(37.525970,126.933401),
(37.525407,126.934115),
(37.524732,126.935075),
(37.524400,126.934560),
(37.523626,126.933358),
(37.523234,126.932731),
(37.522792,126.931985),
(37.523430,126.931406),
(37.523885,126.930955),
(37.524506,126.930311),
(37.525106,126.929743)]

In [66]:
sorted(set(np.random.randint(8,36,18)))

14

In [72]:
import pandas as pd
import numpy as np
5,12,15,18,23
lat_list, long_list = zip(*geo_list)

loc_stamp = list(np.array(range(28))+8)

events = ['stopline 위반',
              'disengagement 발생',              
              '정차된 차량을 못피함',
              '신호위반',
              '차선변경못함',
              '보행자인식못함',
              '우회못함']
event_list = [events[i] for i in np.random.randint(0,len(events),14)]
event_stamp = [12, 16, 19, 21, 22, 23, 25, 26, 28, 29, 30, 31, 33, 35]

mode_list = [True, False,True, False, True, False, True, False]
mode_stamp = [10, 16, 19, 22, 25, 28, 31, 34]

CPU_list = [int(i) for i in np.random.uniform(30,70,28)]
GPU_list = [int(i) for i in np.random.uniform(30,70,28)]
temp_stamp = list(np.array(range(28))+8)

mile_list = np.random.uniform(0.5,0.8,28).cumsum()
mile_stamp = list(np.array(range(28))+8)

# index 자동으로
df1 = pd.DataFrame(data = {"latitude": lat_list, "longitude": long_list}, index = loc_stamp)
df1.index.name = "timestamp"
df2 = pd.DataFrame(data = {"message" : event_list}, index = event_stamp)
df2.index.name = "timestamp"
df3 = pd.DataFrame(data = {"automode" : mode_list}, index = mode_stamp)
df3.index.name = "timestamp"
df4 = pd.DataFrame(data = {"cpu_temp": CPU_list, "gpu_temp": GPU_list}, index = temp_stamp)
df4.index.name = "timestamp"
df5 = pd.DataFrame(data = {"distance": mile_list}, index = mile_stamp)
df5.index.name = "timestamp"

# 병합
df = pd.merge(df1, df2, right_index= True, left_index= True, how = 'outer')
df = pd.merge(df, df3, right_index= True, left_index= True, how = 'outer')
df = pd.merge(df, df4, right_index= True, left_index= True, how = 'outer')
df = pd.merge(df, df5, right_index= True, left_index= True, how = 'outer')

In [73]:
df

,latitude,longitude,message,automode,cpu_temp,gpu_temp,distance
timestamp,,,,,,,
8,37.529033,126.929024,NaN,NaN,57,58,0.600390
9,37.528625,126.928412,NaN,NaN,69,33,1.257465
10,37.528004,126.927484,NaN,True,65,33,2.038450
11,37.527519,126.926755,NaN,NaN,32,64,2.773936
12,37.527017,126.926036,disengagement 발생,NaN,69,43,3.277378
13,37.526923,126.925896,NaN,NaN,52,31,3.868315
14,37.526727,126.925993,NaN,NaN,49,66,4.409675
15,37.526502,126.926218,NaN,NaN,68,43,4.966271
16,37.526238,126.926454,차선변경못함,False,59,46,5.476497
17,37.525825,126.926894,NaN,NaN,32,41,6.136416
18,37.525311,126.927393,NaN,NaN,64,58,6.872370
19,37.524468,126.928225,보행자인식못함,True,43,48,7.581876
20,37.524341,126.928509,NaN,NaN,68,56,8.293430
21,37.524974,126.929533,disengagement 발생,NaN,41,40,8.911892
22,37.526097,126.931347,정차된 차량을 못피함,False,62,41,9.635905
23,37.526752,126.932398,보행자인식못함,NaN,51,36,10.168481
24,37.526493,126.932715,NaN,NaN,47,58,10.763635
25,37.525970,126.933401,stopline 위반,True,61,50,11.360559
26,37.525407,126.934115,차선변경못함,NaN,67,47,11.882816
27,37.524732,126.935075,NaN,NaN,67,32,12.401015
28,37.524400,126.934560,stopline 위반,False,39,68,13.039040
29,37.523626,126.933358,차선변경못함,NaN,44,35,13.548923
30,37.523234,126.932731,정차된 차량을 못피함,NaN,68,38,14.171428
31,37.522792,126.931985,우회못함,True,48,39,14.853910
32,37.523430,126.931406,NaN,NaN,45,65,15.543825
33,37.523885,126.930955,disengagement 발생,NaN,32,51,16.046790
34,37.524506,126.930311,NaN,False,68,60,16.808440
35,37.525106,126.929743,정차된 차량을 못피함,NaN,36,32,17.594713

# File write

In [74]:
df.to_csv("data_2019_08_05_0948.csv", mode = 'w')

# File read

In [75]:
data = pd.read_csv("data_2019_08_05_0948.csv",index_col= 0)
data

,latitude,longitude,message,automode,cpu_temp,gpu_temp,distance
timestamp,,,,,,,
8,37.529033,126.929024,NaN,NaN,57,58,0.600390
9,37.528625,126.928412,NaN,NaN,69,33,1.257465
10,37.528004,126.927484,NaN,True,65,33,2.038450
11,37.527519,126.926755,NaN,NaN,32,64,2.773936
12,37.527017,126.926036,disengagement 발생,NaN,69,43,3.277378
13,37.526923,126.925896,NaN,NaN,52,31,3.868315
14,37.526727,126.925993,NaN,NaN,49,66,4.409675
15,37.526502,126.926218,NaN,NaN,68,43,4.966271
16,37.526238,126.926454,차선변경못함,False,59,46,5.476497
17,37.525825,126.926894,NaN,NaN,32,41,6.136416
18,37.525311,126.927393,NaN,NaN,64,58,6.872370
19,37.524468,126.928225,보행자인식못함,True,43,48,7.581876
20,37.524341,126.928509,NaN,NaN,68,56,8.293430
21,37.524974,126.929533,disengagement 발생,NaN,41,40,8.911892
22,37.526097,126.931347,정차된 차량을 못피함,False,62,41,9.635905
23,37.526752,126.932398,보행자인식못함,NaN,51,36,10.168481
24,37.526493,126.932715,NaN,NaN,47,58,10.763635
25,37.525970,126.933401,stopline 위반,True,61,50,11.360559
26,37.525407,126.934115,차선변경못함,NaN,67,47,11.882816
27,37.524732,126.935075,NaN,NaN,67,32,12.401015
28,37.524400,126.934560,stopline 위반,False,39,68,13.039040
29,37.523626,126.933358,차선변경못함,NaN,44,35,13.548923
30,37.523234,126.932731,정차된 차량을 못피함,NaN,68,38,14.171428
31,37.522792,126.931985,우회못함,True,48,39,14.853910
32,37.523430,126.931406,NaN,NaN,45,65,15.543825
33,37.523885,126.930955,disengagement 발생,NaN,32,51,16.046790
34,37.524506,126.930311,NaN,False,68,60,16.808440
35,37.525106,126.929743,정차된 차량을 못피함,NaN,36,32,17.594713

In [126]:
df_auto = pd.DataFrame(data={'automode': df.automode.values}, index = range(len(df)))
split_index = np.append(df_auto.dropna().index.values, len(df_auto)+1)
df_seglist = []
for i in range(len(split_index) - 1):
    df_seglist.append(df[split_index[i]:split_index[i+1]])    
df_seglist

[            latitude   longitude           message automode  cpu_temp  \
 timestamp
 10         37.528004  126.927484               NaN     True        65
 11         37.527519  126.926755               NaN      NaN        32
 12         37.527017  126.926036  disengagement 발생      NaN        69
 13         37.526923  126.925896               NaN      NaN        52
 14         37.526727  126.925993               NaN      NaN        49
 15         37.526502  126.926218               NaN      NaN        68

            gpu_temp  distance
 timestamp
 10               33  2.038450
 11               64  2.773936
 12               43  3.277378
 13               31  3.868315
 14               66  4.409675
 15               43  4.966271  ,
             latitude   longitude message automode  cpu_temp  gpu_temp  \
 timestamp
 16         37.526238  126.926454  차선변경못함    False        59        46
 17         37.525825  126.926894     NaN      NaN        32        41
 18         37.525311  126.927393     NaN      NaN        64        58

            distance
 timestamp
 16         5.476497
 17         6.136416
 18         6.872370  ,
             latitude   longitude           message automode  cpu_temp  \
 timestamp
 19         37.524468  126.928225           보행자인식못함     True        43
 20         37.524341  126.928509               NaN      NaN        68
 21         37.524974  126.929533  disengagement 발생      NaN        41

            gpu_temp  distance
 timestamp
 19               48  7.581876
 20               56  8.293430
 21               40  8.911892  ,
             latitude   longitude      message automode  cpu_temp  gpu_temp  \
 timestamp
 22         37.526097  126.931347  정차된 차량을 못피함    False        62        41
 23         37.526752  126.932398      보행자인식못함      NaN        51        36
 24         37.526493  126.932715          NaN      NaN        47        58

             distance
 timestamp
 22          9.635905
 23         10.168481
 24         10.763635  ,
             latitude   longitude      message automode  cpu_temp  gpu_temp  \
 timestamp
 25         37.525970  126.933401  stopline 위반     True        61        50
 26         37.525407  126.934115       차선변경못함      NaN        67        47
 27         37.524732  126.935075          NaN      NaN        67        32

             distance
 timestamp
 25         11.360559
 26         11.882816
 27         12.401015  ,
             latitude   longitude      message automode  cpu_temp  gpu_temp  \
 timestamp
 28         37.524400  126.934560  stopline 위반    False        39        68
 29         37.523626  126.933358       차선변경못함      NaN        44        35
 30         37.523234  126.932731  정차된 차량을 못피함      NaN        68        38

             distance
 timestamp
 28         13.039040
 29         13.548923
 30         14.171428  ,
             latitude   longitude           message automode  cpu_temp  \
 timestamp
 31         37.522792  126.931985              우회못함     True        48
 32         37.523430  126.931406               NaN      NaN        45
 33         37.523885  126.930955  disengagement 발생      NaN        32

            gpu_temp   distance
 timestamp
 31               39  14.853910
 32               65  15.543825
 33               51  16.046790  ,
             latitude   longitude      message automode  cpu_temp  gpu_temp  \
 timestamp
 34         37.524506  126.930311          NaN    False        68        60
 35         37.525106  126.929743  정차된 차량을 못피함      NaN        36        32

             distance
 timestamp
 34         16.808440
 35         17.594713  ]

In [134]:
[False,True, False, True, False, True, False, True, False]

array([True, False, True, False, True, False, True, False], dtype=object)

In [143]:
# calculate the number of disengagement
num = 0
for value in df_auto.automode.dropna().values:    
    if temp == True:
        if value != temp:
            num += 1    
    temp = value     
num

4

In [14]:
class Listdataset(object):
    def __init__(self, pos, msg, mode, temp, mile):
        """
        [lat_list, long_list, loc_stamp]
        [event_list, event_time]
        [mode_list, mode_stamp]
        [CPU_list, GPU_list, temp_stamp]
        [mile_list, mile_stamp]
        """
        self.pos = pos
        self.msg = msg
        self.mode = mode
        self.temp = temp
        self.mile = mile

    def printpos(self,num = 5):
        print("timestamp_sample = {}".format(self.pos[2][:num]))
        print("lat_list_sample = {}".format(self.pos[0][:num]))
        print("long_list_sample = {}".format(self.pos[1][:num]))

    def printmsg(self,num = 5):
        print("timestamp_sample = {}".format(self.msg[1][:num]))
        print("event_list_sample = {}".format(self.msg[0][:num]))

    def printmode(self, num = 5):
        print("timestamp_sample = {}".format(self.mode[1][:num]))
        print("mode_list_sample = {}".format(self.mode[0][:num]))

    def printtemp(self, num = 5):
        print("timestamp_sample = {}".format(self.temp[2][:num]))
        print("CPU_list_sample = {}".format(self.temp[0][:num]))
        print("GPU_list_sample = {}".format(self.temp[1][:num]))

    def printmile(self, num = 5):
        print("timestamp_sample = {}".format(self.mile[1][:num]))
        print("mile_list_sample = {}".format(self.mile[0][:num]))

    def printsample(self, num=5):
        try:
            self.printpos(num)
            self.printmsg(num)
            self.printmode(num)
            self.printtemp(num)
            self.printmile(num)
        except IndexError:
            print("we need at least 5 length samples\n\
                   or your number is larger than the number of samples")

In [15]:
data = Listdataset([lat_list, long_list, loc_stamp],\
                                  [event_list, event_time],\
                                  [mode_list, mode_stamp],\
                                  [CPU_list, GPU_list, temp_stamp],\
                                  [mile_list, mile_stamp])

In [16]:
data.printpos()
data.printmsg()
data.printmode()
data.printtemp()
data.printmile()

timestamp_sample = [0, 1, 2, 3, 4]
lat_list_sample = (37.444254, 37.444901, 37.443291, 37.444492, 37.445314)
long_list_sample = (-122.165271, -122.164675, -122.162127, -122.160942, -122.162208)
timestamp_sample = [0, 3, 5, 6, 10]
event_list_sample = ['driving start', 'stopline에서 정차못함', 'disengagement happen', 'driving restart', '정차된 차량을 못피함']
timestamp_sample = [0, 1, 2, 3, 4]
mode_list_sample = [True, True, True, True, True]
timestamp_sample = [0, 1, 2, 3, 4]
CPU_list_sample = [45, 42, 31, 50, 69]
GPU_list_sample = [45, 39, 53, 50, 38]
timestamp_sample = [0, 1, 2, 3, 4]
mile_list_sample = [ 2.36643627  4.69571078  6.88892802  8.99183601 11.08112597]

# Data parsing : Dataframe to List 
[10분완성 참조](https://dataitgirls2.github.io/10minutes2pandas/)  
[인덱싱1](https://datascienceschool.net/view-notebook/704731b41f794b8ea00768f5b0904512/)  
[인덱싱2](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html)  
[NA, NAN 처리](https://ordo.tistory.com/59)

In [76]:
df

,latitude,longitude,message,automode,cpu_temp,gpu_temp,distance
timestamp,,,,,,,
8,37.529033,126.929024,NaN,NaN,57,58,0.600390
9,37.528625,126.928412,NaN,NaN,69,33,1.257465
10,37.528004,126.927484,NaN,True,65,33,2.038450
11,37.527519,126.926755,NaN,NaN,32,64,2.773936
12,37.527017,126.926036,disengagement 발생,NaN,69,43,3.277378
13,37.526923,126.925896,NaN,NaN,52,31,3.868315
14,37.526727,126.925993,NaN,NaN,49,66,4.409675
15,37.526502,126.926218,NaN,NaN,68,43,4.966271
16,37.526238,126.926454,차선변경못함,False,59,46,5.476497
17,37.525825,126.926894,NaN,NaN,32,41,6.136416
18,37.525311,126.927393,NaN,NaN,64,58,6.872370
19,37.524468,126.928225,보행자인식못함,True,43,48,7.581876
20,37.524341,126.928509,NaN,NaN,68,56,8.293430
21,37.524974,126.929533,disengagement 발생,NaN,41,40,8.911892
22,37.526097,126.931347,정차된 차량을 못피함,False,62,41,9.635905
23,37.526752,126.932398,보행자인식못함,NaN,51,36,10.168481
24,37.526493,126.932715,NaN,NaN,47,58,10.763635
25,37.525970,126.933401,stopline 위반,True,61,50,11.360559
26,37.525407,126.934115,차선변경못함,NaN,67,47,11.882816
27,37.524732,126.935075,NaN,NaN,67,32,12.401015
28,37.524400,126.934560,stopline 위반,False,39,68,13.039040
29,37.523626,126.933358,차선변경못함,NaN,44,35,13.548923
30,37.523234,126.932731,정차된 차량을 못피함,NaN,68,38,14.171428
31,37.522792,126.931985,우회못함,True,48,39,14.853910
32,37.523430,126.931406,NaN,NaN,45,65,15.543825
33,37.523885,126.930955,disengagement 발생,NaN,32,51,16.046790
34,37.524506,126.930311,NaN,False,68,60,16.808440
35,37.525106,126.929743,정차된 차량을 못피함,NaN,36,32,17.594713

In [18]:
# selection부분 참조

## column slicing

#single
df['latitude']
df[df.columns[0]]
df.loc[:,'latitude']
df.loc[:,df.columns[0]]
df.iloc[:,0]
df.latitude

#multiple
df[['latitude','longitude']]
df[df.columns[0:2]]
df.loc[:,['latitude', 'longitude']]
df.loc[:,df.columns[0:2]]
df.iloc[:,0:2]

#빠른 인덱싱 속도가 요구되는 경우 at,iat인덱서를 사용

            latitude   longitude
timestamp
0          37.444254 -122.165271
1          37.444901 -122.164675
2          37.443291 -122.162127
3          37.444492 -122.160942
4          37.445314 -122.162208
5          37.445314 -122.162208
6          37.445045 -122.162454
7          37.445045 -122.162454
8          37.444709 -122.162819
9          37.445492 -122.164063
10         37.446255 -122.165313
11         37.445058 -122.166531
12         37.444249 -122.165302

In [19]:
# clear workspace variables
lat_list = []
long_list = []
loc_stamp = []
event_list = []
event_time = []
mode_list = []
mode_stamp = []
CPU_list = []
GPU_list = []
temp_stamp = []
mile_list = []
mile_stamp = []

In [20]:
df_pos = df.loc[:,df.columns[0:2]].dropna()
df_msg = df.loc[:,df.columns[2]].dropna()
df_mode = df.loc[:,df.columns[3]].dropna()
df_temp = df.loc[:,df.columns[4:6]].dropna()
df_mile = df.loc[:,df.columns[6]].dropna()
# np.array자료형으로
data = Listdataset(
    [df_pos.iloc[:,0].values, df_pos.iloc[:,1].values, df_pos.index.values],
    [df_msg.values, df_msg.index.values],
    [df_mode.values, df_mode.index.values],
    [df_temp.iloc[:,0].values, df_temp.iloc[:,1].values, df_temp.index.values],
    [df_mile.values, df_mile.index.values])
# #list 자료형으로
# data = Listdataset(
#     [df_pos.iloc[:,0].values.tolist(), df_pos.iloc[:,1].values.tolist(), df_pos.index.values.tolist()],
#     [df_msg.values.tolist(), df_msg.index.values.tolist()],
#     [df_mode.values.tolist(), df_mode.index.values.tolist()],
#     [df_temp.iloc[:,0].values.tolist(), df_temp.iloc[:,1].values.tolist(), df_temp.index.values.tolist()],
#     [df_mile.values.tolist(), df_mile.index.values.tolist()])

In [21]:
def df_to_ldset(df):
    """
    This function is to transform DataFrame type into Listdataset type
    """
    df_pos = df.loc[:,df.columns[0:2]].dropna()
    df_msg = df.loc[:,df.columns[2]].dropna()
    df_mode = df.loc[:,df.columns[3]].dropna()
    df_temp = df.loc[:,df.columns[4:6]].dropna()
    df_mile = df.loc[:,df.columns[6]].dropna()
    ldset = Listdataset(
        [df_pos.iloc[:,0].values, df_pos.iloc[:,1].values, df_pos.index.values],
        [df_msg.values, df_msg.index.values],
        [df_mode.values, df_mode.index.values],
        [df_temp.iloc[:,0].values, df_temp.iloc[:,1].values, df_temp.index.values],
        [df_mile.values, df_mile.index.values])
    return ldset

def ldset_to_df(ldset):
    """
    This function is to transfrom Listdataset type into DataFrame type
    """
    [lat_list, long_list, loc_stamp] = ldset.pos
    [event_list, event_time] = ldset.msg
    [mode_list, mode_stamp] = ldset.mode
    [CPU_list, GPU_list, temp_stamp] = ldset.temp
    [mile_list, mile_stamp] = ldset.mile

    # set DataFrame
    df1 = pd.DataFrame(data = {"latitude": lat_list, "longitude": long_list}, index = loc_stamp)
    df1.index.name = "timestamp"
    df2 = pd.DataFrame(data = {"message" : event_list}, index = event_time)
    df2.index.name = "timestamp"
    df3 = pd.DataFrame(data = {"automode" : mode_list}, index = mode_stamp)
    df3.index.name = "timestamp"
    df4 = pd.DataFrame(data = {"cpu_temp": CPU_list, "gpu_temp": GPU_list}, index = temp_stamp)
    df4.index.name = "timestamp"
    df5 = pd.DataFrame(data = {"mile": mile_list}, index = mile_stamp)
    df5.index.name = "timestamp"

    # merge
    df = pd.merge(df1, df2, right_index= True, left_index= True, how = 'outer')
    df = pd.merge(df, df3, right_index= True, left_index= True, how = 'outer')
    df = pd.merge(df, df4, right_index= True, left_index= True, how = 'outer')
    df = pd.merge(df, df5, right_index= True, left_index= True, how = 'outer')
    return df

# How to split list based on some condition  
[Find index where elements change value ](https://stackoverflow.com/questions/19125661/find-index-where-elements-change-value-numpy)  
[특정조건으로 쪼갤 index구했을 때](https://www.geeksforgeeks.org/python-custom-list-split/)  
[numpy split을 이용하면 더 쉽다.](https://docs.scipy.org/doc/numpy/reference/generated/numpy.split.html)

In [22]:
v = np.array([1, 1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 3 ,3])

# method 1
np.where(v[:-1] != v[1:])[0] + 1

# method 2 when we need first index
np.where(np.roll(v,1)!=v)[0]

# method 3 
[i + 1 for i, (x, y) in enumerate(zip(v[:-1],v[1:])) if x!=y]

[5, 8]

In [23]:
# initializing string   
test_list = [1, 4, 5, 6, 7, 3, 5, 9, 2, 4]   
# initializing split index list  
split_list = [2, 5, 7] 

# method one
res = [test_list[i : j] for i, j in zip([0] + 
          split_list, split_list + [None])]

# method two
from itertools import chain
temp = zip(chain([0], split_list), chain(split_list, [None])) 
res = list(test_list[i : j] for i, j in temp) 

#method three
np.split(test_list, split_list)

[array([1, 4]), array([5, 6, 7]), array([3, 5]), array([9, 2, 4])]

In [24]:
df.automode.values[:-1] != df.automode.values[1:]

array([False, False, False, False,  True, False,  True, False, False,
       False, False, False])

In [85]:
df.automode.values.tolist()
df.automode.index.values.tolist()
split_index = np.array([df.automode.index[0]])
split_index = np.append(split_index,df.automode.loc[df.automode.values[:-1] != df.automode.values[1:]].index.values + 1)
split_index = np.append(split_index,len(df.automode.index))
split_index

array([ 8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24,
       25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 28])

In [81]:
df_seglist = []
for i in range(len(split_index) - 1):
    df_seglist.append(df[split_index[i]:split_index[i+1]])
df_seglist

[            latitude   longitude message automode  cpu_temp  gpu_temp  \
 timestamp
 16         37.526238  126.926454  차선변경못함    False        59        46

            distance
 timestamp
 16         5.476497  ,
             latitude   longitude message automode  cpu_temp  gpu_temp  \
 timestamp
 17         37.525825  126.926894     NaN      NaN        32        41

            distance
 timestamp
 17         6.136416  ,
             latitude   longitude message automode  cpu_temp  gpu_temp  \
 timestamp
 18         37.525311  126.927393     NaN      NaN        64        58

            distance
 timestamp
 18          6.87237  ,
             latitude   longitude  message automode  cpu_temp  gpu_temp  \
 timestamp
 19         37.524468  126.928225  보행자인식못함     True        43        48

            distance
 timestamp
 19         7.581876  ,
             latitude   longitude message automode  cpu_temp  gpu_temp  \
 timestamp
 20         37.524341  126.928509     NaN      NaN        68        56

            distance
 timestamp
 20          8.29343  ,
             latitude   longitude           message automode  cpu_temp  \
 timestamp
 21         37.524974  126.929533  disengagement 발생      NaN        41

            gpu_temp  distance
 timestamp
 21               40  8.911892  ,
             latitude   longitude      message automode  cpu_temp  gpu_temp  \
 timestamp
 22         37.526097  126.931347  정차된 차량을 못피함    False        62        41

            distance
 timestamp
 22         9.635905  ,
             latitude   longitude  message automode  cpu_temp  gpu_temp  \
 timestamp
 23         37.526752  126.932398  보행자인식못함      NaN        51        36

             distance
 timestamp
 23         10.168481  ,
             latitude   longitude message automode  cpu_temp  gpu_temp  \
 timestamp
 24         37.526493  126.932715     NaN      NaN        47        58

             distance
 timestamp
 24         10.763635  ,
            latitude   longitude      message automode  cpu_temp  gpu_temp  \
 timestamp
 25         37.52597  126.933401  stopline 위반     True        61        50

             distance
 timestamp
 25         11.360559  ,
             latitude   longitude message automode  cpu_temp  gpu_temp  \
 timestamp
 26         37.525407  126.934115  차선변경못함      NaN        67        47

             distance
 timestamp
 26         11.882816  ,
             latitude   longitude message automode  cpu_temp  gpu_temp  \
 timestamp
 27         37.524732  126.935075     NaN      NaN        67        32

             distance
 timestamp
 27         12.401015  ,
            latitude  longitude      message automode  cpu_temp  gpu_temp  \
 timestamp
 28          37.5244  126.93456  stopline 위반    False        39        68

            distance
 timestamp
 28         13.03904  ,
             latitude   longitude message automode  cpu_temp  gpu_temp  \
 timestamp
 29         37.523626  126.933358  차선변경못함      NaN        44        35

             distance
 timestamp
 29         13.548923  ,
             latitude   longitude      message automode  cpu_temp  gpu_temp  \
 timestamp
 30         37.523234  126.932731  정차된 차량을 못피함      NaN        68        38

             distance
 timestamp
 30         14.171428  ,
             latitude   longitude message automode  cpu_temp  gpu_temp  \
 timestamp
 31         37.522792  126.931985    우회못함     True        48        39

            distance
 timestamp
 31         14.85391  ,
            latitude   longitude message automode  cpu_temp  gpu_temp  \
 timestamp
 32         37.52343  126.931406     NaN      NaN        45        65

             distance
 timestamp
 32         15.543825  ,
             latitude   longitude           message automode  cpu_temp  \
 timestamp
 33         37.523885  126.930955  disengagement 발생      NaN        32

            gpu_temp  distance
 timestamp
 33               51  16.04679  ,
             latitude   longitude message automode  cpu_temp  gpu_temp  \
 timestamp
 34         37.524506  126.930311     NaN    False        68        60

            distance
 timestamp
 34         16.80844  ,
             latitude   longitude      message automode  cpu_temp  gpu_temp  \
 timestamp
 35         37.525106  126.929743  정차된 차량을 못피함      NaN        36        32

             distance
 timestamp
 35         17.594713  ,
 Empty DataFrame
 Columns: [latitude, longitude, message, automode, cpu_temp, gpu_temp, distance]
 Index: [],
 Empty DataFrame
 Columns: [latitude, longitude, message, automode, cpu_temp, gpu_temp, distance]
 Index: [],
 Empty DataFrame
 Columns: [latitude, longitude, message, automode, cpu_temp, gpu_temp, distance]
 Index: [],
 Empty DataFrame
 Columns: [latitude, longitude, message, automode, cpu_temp, gpu_temp, distance]
 Index: [],
 Empty DataFrame
 Columns: [latitude, longitude, message, automode, cpu_temp, gpu_temp, distance]
 Index: [],
 Empty DataFrame
 Columns: [latitude, longitude, message, automode, cpu_temp, gpu_temp, distance]
 Index: [],
 Empty DataFrame
 Columns: [latitude, longitude, message, automode, cpu_temp, gpu_temp, distance]
 Index: [],
 Empty DataFrame
 Columns: [latitude, longitude, message, automode, cpu_temp, gpu_temp, distance]
 Index: []]

In [79]:
df_seglist[0].loc[:,['latitude','longitude', 'message']].dropna()

            latitude   longitude message
timestamp
16         37.526238  126.926454  차선변경못함

In [28]:
# df사용
df_seglist[0].loc[:,['latitude','longitude', 'message']].dropna().latitude.values.tolist()
# ldset사용
df_seglist[0].loc[df_to_ldset(df_seglist[0]).msg[1]].loc[:,df.columns[0]].values.tolist()

df_temp = df_seglist[0].loc[:,['latitude','longitude', 'message']].dropna()

marker_lat_list = df_temp.latitude.values.tolist()
marker_long_list = df_temp.longitude.values.tolist()
marker_msg_list = df_temp.message.values.tolist()
for lat, long, msg in zip(marker_lat_list, marker_long_list, marker_msg_list):   
    print("lat = {}, long = {}, msg = {}".format(lat, long, msg))

lat = 37.444254, long = -122.165271, msg = driving start
lat = 37.444492, long = -122.160942, msg = stopline에서 정차못함

In [29]:
# check if disengagement sector
# 주의사항 : is는 call by reference에 의한 비교이므로 numpy.bool 과 bool type 비교에서 False
if df_to_ldset(df_seglist[0]).mode[0][0] == True:
    print("yes")

yes

# Convert the data format for making chart

In [30]:
# for pie chart and histogram
# calculate event frequency and make table
[[i,j] for i,j in zip(df.loc[:,'message'].value_counts().index.tolist(),
                      df.loc[:,'message'].value_counts().tolist())]

[['stopline에서 정차못함', 1],
 ['driving restart', 1],
 ['driving start', 1],
 ['disengagement happen', 1],
 ['driving finish', 1],
 ['정차된 차량을 못피함', 1]]

In [31]:
# mile과 길이가 안맞을 수 있다.
data.temp[0].tolist() # for cpu_list
data.temp[1].tolist() # for gpu_list
data.temp[2].tolist() # for time_stamp
data.mile[0].tolist() # for mile_list

[2.3664362675699024,
 4.695710778282473,
 6.888928023859835,
 8.991836011613511,
 11.08112596576576,
 13.220547456730944,
 15.345063139992224,
 17.450816643097173,
 19.586751970183506,
 21.636478849658744,
 23.764336948179707,
 25.97183446512557,
 28.294062592833967]

In [32]:
x = df.loc[:,["cpu_temp","gpu_temp"]].dropna().index.tolist()
y = df.loc[:,["gpu_temp","cpu_temp"]].dropna().values.tolist()
[[i,j,k] for i,(j,k) in zip(x,y)]

[[0, 45, 45],
 [1, 39, 42],
 [2, 53, 31],
 [3, 50, 50],
 [4, 38, 69],
 [5, 33, 65],
 [6, 46, 43],
 [7, 59, 62],
 [8, 34, 33],
 [9, 48, 59],
 [10, 65, 40],
 [11, 61, 38],
 [12, 39, 43]]

In [33]:
df.loc[:,["mile","gpu_temp","cpu_temp"]].dropna().values.tolist()

[[2.3664362675699024, 45.0, 45.0],
 [4.695710778282473, 39.0, 42.0],
 [6.888928023859835, 53.0, 31.0],
 [8.991836011613511, 50.0, 50.0],
 [11.08112596576576, 38.0, 69.0],
 [13.220547456730944, 33.0, 65.0],
 [15.345063139992224, 46.0, 43.0],
 [17.450816643097173, 59.0, 62.0],
 [19.586751970183506, 34.0, 33.0],
 [21.636478849658744, 48.0, 59.0],
 [23.764336948179707, 65.0, 40.0],
 [25.97183446512557, 61.0, 38.0],
 [28.294062592833967, 39.0, 43.0]]

# 한개의 row씩 msg를 받아서 dataframe append하기

In [34]:
import pandas as pd
import numpy as np

In [35]:
columns = np.array(["timestamp", "latitude", "longitude"])
stamp = np.array([1561596173878587685, 1561596173898557742, 1561596173918775103])
lat = np.array([37.44781953122359, 37.44781906110007, 37.447818594836775])
lon = np.array([-122.15846783298127, -122.15846705854781, -122.15846630959508])
df = pd.DataFrame()
for stamp, lat, lon in zip(stamp, lat, lon):
    tmp = pd.DataFrame(data={columns[1]:[lat], columns[2]:[lon]}, index= [stamp])
    df = df.append(tmp)
df.index.name = 'timestamp'
df

                      latitude   longitude
timestamp
1561596173878587685  37.447820 -122.158468
1561596173898557742  37.447819 -122.158467
1561596173918775103  37.447819 -122.158466

# 변수이름을 loop 를 돌려 할당하기

In [36]:
a1 = 5
a2 = 1
a3 = 3
a4 = None
a5 = 4
a = []
for i in range(5):
    if globals()["a{}".format(i+1)] is not None:
        print(globals()["a{}".format(i+1)])
        a.append(globals()["a{}".format(i+1)])
a

5
1
3
4

[5, 1, 3, 4]

In [37]:
keys = ['pos','msg','mod','state','mile']
dfs = {}
for i,name in enumerate(keys):
    if globals()["a{}".format(i+1)] is not None:
        dfs[name] = globals()["a{}".format(i+1)]
dfs

{'pos': 5, 'msg': 1, 'mod': 3, 'mile': 4}

In [38]:
class test(object):
    def __init__(self):
        self.a1 = 5
        self.a2 = 1
        self.a3 = 3
        self.a4 = None
        self.a5 = 4
    def gen(self):
        df = {}
        keys = ['pos','msg','mod','state','mile']
        for i,name in enumerate(keys):
            if getattr(self,'a{}'.format(i+1)) is not None:
                df[name] = getattr(self,'a{}'.format(i+1))
        print(df)

In [39]:
t = test()
t.gen()

{'pos': 5, 'msg': 1, 'mod': 3, 'mile': 4}

 # 특정열이 있는 지 확인하기

In [71]:
def check_columns(name, indexs):
    for i in indexs:
        if i == name:
            return True
    return False

In [72]:
df.columns.values

array(['latitude', 'longitude'], dtype=object)

In [101]:
check_columns('latitude', df.columns.values)
check_columns('longitude', df.columns.values)
# print("yes") if check_columns('automode', df.columns.values) is True else print("no")
if check_columns('longitude', df.columns.values) is True: print("yes")

yes

# IMU 값이 빠졌을 때 예외처리하기

[참조1](https://nittaku.tistory.com/112)
[처리방법 참조2](https://ordo.tistory.com/59)
#### NAN 처리하기
처리방법
1. 무시한다.
2. 제거한다.
3. 다른 값으로 대체한다.  
  
dropna 를 사용하면 값을 버린다.  
fillna 를 사용하면 값을 다른 값으로 채운다.  
isnull 를 사용하면 NaN이 들어있는 위치만 mask를 할수있다.

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("data_2019_08_06_1435.csv",index_col= 0)
df.head()
# df_auto = pd.DataFrame(data={'automode': df.automode.values}, index = range(len(df)))
# split_index = np.append(df_auto.dropna().index.values, len(df_auto)+1)
# split_index
# df_seglist = []
# for i in range(len(split_index) - 1):
#     df_seglist.append(df[split_index[i]:split_index[i+1]])

             latitude   longitude message automode  distance
timestamp
1565145153  37.519697  126.928441     NaN      NaN       0.0
1565145154  37.519698  126.928441     NaN      NaN       0.0
1565145155  37.519698  126.928441     NaN      NaN       0.0
1565145156  37.519698  126.928441     NaN      NaN       0.0
1565145157  37.519696  126.928440     NaN      NaN       0.0

#### 문제가 있는지 확인
[결측값의 여부 확인](https://rfriend.tistory.com/tag/Python%20pandas%20DataFrame%20%EA%B2%B0%EC%B8%A1%EA%B0%92%20%EC%97%AC%EB%B6%80%20%ED%99%95%EC%9D%B8%ED%95%98%EA%B8%B0)

In [4]:
np.logical_and(df.latitude.isnull(),df.longitude.isnull()).sum()

4

In [5]:
# 문제가 있는 부분
prob_index = df[np.logical_and(df.latitude.isnull(),df.longitude.isnull())].index.values
df[np.logical_and(df.latitude.isnull(),df.longitude.isnull())]

            latitude  longitude message automode  distance
timestamp
1565145650       NaN        NaN   type2      NaN       NaN
1565145661       NaN        NaN   type1      NaN       NaN
1565145695       NaN        NaN     NaN     True       NaN
1565145749       NaN        NaN   type2      NaN       NaN

#### 생각한 처리방법
앞쪽에 있는 값으로 latitude와 longitude값을 채워주고 경고메세지를 출력  
fillna 함수와 method 매개변수를 사용하자

In [6]:
df.latitude.fillna(method='ffill', inplace=True)
df.longitude.fillna(method='ffill', inplace=True)
df[np.logical_and(df.latitude.isnull(),df.longitude.isnull())]
# 문제가 있었던 부분
df.loc[prob_index]

             latitude   longitude message automode  distance
timestamp
1565145650  37.524117  126.934047   type2      NaN       NaN
1565145661  37.524117  126.934047   type1      NaN       NaN
1565145695  37.524117  126.934047     NaN     True       NaN
1565145749  37.524117  126.934047   type2      NaN       NaN

In [7]:
#결측여부확인
np.logical_and(df.latitude.isnull(),df.longitude.isnull()).sum()

0

# related data 읽어오기

[데이터프레임의 인덱스조작](https://datascienceschool.net/view-notebook/a49bde24674a46699639c1fa9bb7e213/)
인덱스를 바꾸고 추가하고 를 조작  
[desk사용](https://datascienceschool.net/view-notebook/2282b75b2a63448087b77269885c27cb/) assign사용법

#### msg timestamp, 숫자를 받아서 그 숫자만큼 전의 data 보여주기
assign사용해서 idx열추가  
특정 timestamp에 알맞은 idx값 가져옴  
dataframe를 idx series형으로 index를 바꾸고 idx-length:idx로 슬라이싱후  
다시 index되돌리기

In [56]:
import datetime

In [62]:
msg_time = 1565145650
length = 10
idx = df.assign(idx = range(len(df))).idx[msg_time]
print(df.reset_index().loc[idx-length:idx].set_index('timestamp'))

             latitude   longitude message automode  distance
timestamp
1565145638  37.524396  126.934481     NaN      NaN  1.577222
1565145639  37.524366  126.934437     NaN      NaN  1.582500
1565145640  37.524335  126.934391     NaN      NaN  1.587778
1565145641  37.524302  126.934343     NaN      NaN  1.593333
1565145642  37.524268  126.934291       3      NaN  1.599167
1565145643  37.524232  126.934235     NaN      NaN  1.605278
1565145644  37.524198  126.934181     NaN      NaN  1.611111
1565145645  37.524167  126.934131     NaN      NaN  1.616389
1565145646  37.524139  126.934086     NaN      NaN  1.621111
1565145647  37.524117  126.934047     NaN      NaN  1.625278
1565145650  37.524117  126.934047   type2      NaN       NaN

#### 몇시각전의 data를 보여주기
timedelta사용하여 이전시점의 timestamp값 찾고  
그 표에서 가장 가까운 timestamp값을 찾아서 저장  
이전시점 중 가장가까운timestamp와 message timestamp의 값으로 슬라이싱  
가장가까운 값은 슬라이싱을 하면 pandas모듈에서 알아서 예외처리하여 찾아준다. 

[timestamp를 datetime으로 혹은 datetime을 timestamp로 변환하기](https://ourcstory.tistory.com/109)

In [66]:
import time

In [89]:
msg_time = 1565145650
delta_time = 10
dtt = datetime.datetime.fromtimestamp(msg_time)
dtt_delta = datetime.timedelta(seconds=delta_time)
dtt_minus = dtt - dtt_delta
prev_time = time.mktime(dtt_minus.timetuple())
df.loc[prev_time:msg_time]

             latitude   longitude message automode  distance
timestamp
1565145640  37.524335  126.934391     NaN      NaN  1.587778
1565145641  37.524302  126.934343     NaN      NaN  1.593333
1565145642  37.524268  126.934291       3      NaN  1.599167
1565145643  37.524232  126.934235     NaN      NaN  1.605278
1565145644  37.524198  126.934181     NaN      NaN  1.611111
1565145645  37.524167  126.934131     NaN      NaN  1.616389
1565145646  37.524139  126.934086     NaN      NaN  1.621111
1565145647  37.524117  126.934047     NaN      NaN  1.625278
1565145650  37.524117  126.934047   type2      NaN       NaN

#### 두개의 특정시점을 받아와 슬라이싱하기

In [100]:
year = 2019
month = 8
day = 7
hour = 11
minute = 40
second1 = 40
second2 = 51
dtt1 = datetime.datetime(year=year, month=month, day=day, hour=hour, minute=minute, second= second1)
dtt2 = datetime.datetime(year=year, month=month, day=day, hour=hour, minute=minute, second= second2)
time1 = time.mktime(dtt1.timetuple())
time2 = time.mktime(dtt2.timetuple())
df.loc[time1:time2]

             latitude   longitude message automode  distance
timestamp
1565145640  37.524335  126.934391     NaN      NaN  1.587778
1565145641  37.524302  126.934343     NaN      NaN  1.593333
1565145642  37.524268  126.934291       3      NaN  1.599167
1565145643  37.524232  126.934235     NaN      NaN  1.605278
1565145644  37.524198  126.934181     NaN      NaN  1.611111
1565145645  37.524167  126.934131     NaN      NaN  1.616389
1565145646  37.524139  126.934086     NaN      NaN  1.621111
1565145647  37.524117  126.934047     NaN      NaN  1.625278
1565145650  37.524117  126.934047   type2      NaN       NaN

In [104]:
filename = '2019-7-26_13:14:25'
format = '%Y-%m-%d_%H:%M:%S'
dtt = datetime.datetime.strptime(filename,format)
dtt

datetime.datetime(2019, 7, 26, 13, 14, 25)

In [115]:
datetime.datetime.fromtimestamp(1565145650)

datetime.datetime(2019, 8, 7, 11, 40, 50)